{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div id="liver"></div>
    <div id="nav"></div>
    <div class="maincontent container-fluid">
      <section>
        <div class="row mb-4">
          <div class="col-md-5 ps-1">
            <img class="imgHeart" src="{% static 'img/cheart1.jpg' %}" alt="liver" />
          </div>
          <div class="col-md-7">
            <h1 class="liv display-3 text-center">Heart Disease</h1>
            <p class="descLiv">
              Different things can cause serious heart conditions. But heart disease is the number one killer in the
              world. It is also a major cause of disability. There are many different forms of heart disease. The most 
              common cause of heart disease is <b>Narrowing or Blockage of the Coronary arteries</b>, the blood vessels
              that supply blood to the heart itself. This is called coronary artery disease and happens slowly over time. 
              It's the major reason people have heart attacks. Other heart conditions, such as those that affect your
              heart's muscle, valves or rhythm, also are considered forms of heart disease. Many forms of heart disease 
              can be prevented or treated with healthy lifestyle choices.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="liv display-4 text-center">Symptoms of Heart Disease</h1>
            <p class="descLiv">
              The symptoms of Heart disease include: <br><br>
              <div class="row">
                  <div class="col-md-6">
                    <ul class="descLiv">
                        <li>Chest pain</li>
                        <li>Weakness</li>
                        <li>Shortness of breath</li>
                        <li>Coldness in your legs or arms</li>
                        <li>Pain in the neck, jaw, throat</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="descLiv">
                          <li>High blood pressure</li>
                          <li>Nausea and cold sweats</li>
                          <li>Stomach pain</li>
                          <li>Pain in upper abdomen or back</li>
                          <li>Irregular heartbeat</li>
                      </ul>
                  </div>
              </div>
              <p class="descLiv">
              Do you feel like you are having more than three or four symptoms?
              Go to our online tool to predict whether there is a chance of you having
              the heart disease.
              </p>
            </p>
            <br>
            <div class="d-flex justify-content-center">
              <a
                class="but text-center"
                href="{% url 'heart_predict' %}"
              >
                <button class="btnPredictLiver btn-liv text-center btn-lg btn-primary">
                  Predict
                </button>
              </a>
            </div>
          </div>
          <div class="col-md-5">
            <img class="imgSymp" src="{% static 'img/heart_symptoms.jpg' %}" alt="Symptoms of Liver Disease">
          </div>
        </div>
      </section>
    </div>
{% endblock %}