{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div id="liver"></div>
    <div id="nav"></div>
    <div class="maincontent container-fluid">
      <section>
        <div class="row mt-4 ml-3">
          <div class="col-md-5 ">
            <img class="imgHeart" src="{% static 'img/HeartExercise2.jpg' %}" alt="heart" />
          </div>
          <div class="col-md-7 mb-2">
            <h1 class="liv display-4 text-center">Diet plan for Heart Disease</h1>
            <p class="descLiv">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="descLiv"><b>Food to eat:</b> </h5>
                      <ul class="descLiv">
                          <li>Fruits and Vegetables</li>
                          <li>Low-fat dairy products</li>
                          <li>Skinless poultry</li>
                          <li>Nuts, beans, and legumes</li>
                          <li>Fish , eggs(you can eat up to six per week)</li>
                          <li>plant-based oils, such as olive oil</li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                        <h5 class="descLiv"><b>Food to avoid:</b> </h5>
                        <ul class="descLiv">
                            <li>Junk food</li>
                            <li>Alcohol</li>
                            <li>Hydrogenated vegetable oils </li>
                            <li>Processed frozen meals</li>
                            <li>Red meat</li>
                            <li>Condiments such as mayonnaise, ketchup, and packaged dressing</li>
                        </ul>
                    </div>
                </div>
                <h5 class="descLiv" ><b>For more information visit the following websites:</b></h5>
                <ul class="descLiv">
                    <li> <a href="https://www.healthline.com/health/heart-health/food-eat-avoid">Healthline</a></li>
                    <li><a href="https://www.medicalnewstoday.com/articles/153998#summary">MedicalNewsToday</a></li>
            </ul>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="liv display-4 text-center">Exercise to follow</h1>
            <p class="descLiv">
              The symptoms of Heart disease include: <br><br>
              <div class="row">
                  <div class="col-md-6">
                    <ul class="descLiv">
                        <li>Chest pain</li>
                        <li>Weakness</li>
                        <li>Shortness of breath</li>
                        <li>Coldness in your legs or arms</li>
                        <li>Pain in the neck, jaw, throat</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="descLiv">
                          <li>High blood pressure</li>
                          <li>Nausea and cold sweats</li>
                          <li>Stomach pain</li>
                          <li>Pain in upper abdomen or back</li>
                          <li>Irregular heartbeat</li>
                      </ul>
                  </div>
              </div>
              <p class="descLiv">
              Do you feel like you are having more than three or four symptoms?
              Go to our online tool to predict whether there is a chance of you having
              the heart disease.
              </p>
            </p>
            <br>
            <div class="d-flex justify-content-center">
              <a
                class="but text-center"
                href="{% url 'heart_predict' %}"
              >
                <button class="btnPredictLiver btn-liv text-center btn-lg btn-primary">
                  Predict
                </button>
              </a>
            </div>
          </div>
          <div class="col-md-5 pd-7">
            <img class="imgSymp" src="{% static 'img/HeartExercise1.gif' %}" alt="Exercising Food">
          </div>
        </div>
      </section>
    </div>
{% endblock %}