{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div id="liver"></div>
    <div id="nav"></div>
    <div class="maincontent container-fluid">
      <section>
        <div class="row mb-4">
          <div class="col-md-5 ps-1 pt-4">
            <img class="imgDiabetes" src="{% static 'img/diabetes.jpg' %}" alt="liver" />
          </div>
          <div class="col-md-7">
            <h1 class="liv display-3 text-center">Diabetes</h1>
            <p class="descLiv">
              Diabetes mellitus, commonly known as diabetes, is a metabolic disease that 
              causes high blood sugar. The hormone insulin moves sugar from the blood 
              into your cells to be stored or used for energy. With diabetes, your body 
              either doesn’t make enough insulin or can’t effectively use the insulin it 
              does make. Untreated high blood sugar from diabetes can damage your nerves, 
              eyes, kidneys, and other organs.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="liv display-4 text-center">Symptoms of Diabetes </h1>
            <p class="descLiv">
              The symptoms of Diabetes include: <br><br>
              <div class="row">
                  <div class="col-md-6">
                    <ul class="descLiv">
                        <li>Increased hunger</li>
                        <li>Increased thirst</li>
                        <li>Weight loss</li>
                        <li>Blurry vision</li>
                        <li>Frequent urination</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="descLiv">
                          <li>Tingling or numbness in the hands or feet</li>
                          <li>Skin discoloration</li>
                          <li>Yeast infections</li>
                          <li>Frequent urination</li>
                          <li>Slow healing cuts and woundsl</li>
                          <li>Extreme Fatigue</li>
                      </ul>
                  </div>
              </div>
              <p class="descLiv">
              Do you feel like you are having more than three or four symptoms?
              Go to our online tool to predict whether there is a chance of you having
              the Diabetes.
              </p>
            </p>
            <br>
            <div class="d-flex justify-content-center">
              <a
                class="but text-center"
                href="{% url 'diabetes_predict' %}"
              >
                <button class="btnPredictLiver btn-liv text-center btn-lg btn-primary">
                  Predict
                </button>
              </a>
            </div>
          </div>
          <div class="col-md-4 pl-5 ml-5">
            <img class="imgSymp" src="{% static 'img/sdiabetes.jpg' %}" alt="Symptoms of Diabetes">
          </div>
        </div>
      </section>
    </div>
{% endblock %}