{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div id="diabetes"></div>
    <div id="nav"></div>
    <div class="maincontent container-fluid">
      <section>
        <div class="row mt-4 ml-3">
          <div class="col-md-5 ps-1 ">
            <img class="imgDiabetesDiet" src="{% static 'img/diabetesDiet.png' %}" alt="diabetes" />
          </div>
          <div class="col-md-7 mb-2">
            <h1 class="liv display-4 text-center">Diet plan for Diabetes</h1>
            <p class="descLiv">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="descLiv"><b>Food to eat:</b> </h5>
                      <ul class="descLiv">
                          <li>Green Leafy Vegetables</li>
                          <li>Brocoli, Spinach,Tomatoes, etc</li>
                          <li>Fruits:Berries, Avacado, Apples, etc </li>
                          <li>Plant-based oils, such as olive oil</li>
                          <li>Eggs, whole grains, nuts</li>
                          <li>Fatty Fish</li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                        <h5 class="descLiv"><b>Food to avoid:</b> </h5>
                        <ul class="descLiv">
                            <li>Sugar-sweetened beverages</li>
                            <li>Trans fats</li>
                            <li>White bread, rice, and pasta</li>
                            <li>Flavored processed food</li>
                            <li>Sweetened breakfast cereals</li>
                            <li>Honey, agave nectar, and maple syrup</li>
                            <li>Dried fruit, Fried food</li>
                        </ul>
                    </div>
                </div>
                <h5 class="descLiv" ><b>For more information visit the following websites:</b></h5>
                <ul class="descLiv">
                    <li> <a href="https://www.healthifyme.com/blog/diabetic-diet-plan/">Healthifyme</a></li>
                    <li><a href="https://www.medicalnewstoday.com/articles/318277">MedicalNewsToday</a></li>
            </ul>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="liv display-4 text-center">Exercise to follow</h1>
            <p class="descLiv">
              Be fit to fight: <br>
              <div class="row">
                  <div class="col-md-6">
                    <ul class="descLiv">
                        <li>Walking</li>
                        <li>Cycling</li>
                        <li>Swimming</li>
                        <li>Team sports</li>
                        <li>Loose Weight</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="descLiv">
                        <li>Cycling</li>
                        <li>Yoga</li>
                        <li>Swimming</li>
                          <li>Increase Stamina</li>
                          <li>Be Active in Physical activities</li>
                      </ul>
                  </div>
              </div>
              <p class="descLiv">
            Follow the exercises & enjoy the results :)
              </p>
            </p>
            <br>
            <div class="d-flex justify-content-center">
              <a
                class="but text-center"
                href="{% url 'diabetes_predict' %}"
              >
                <button class="btnPredictLiver btn-liv text-center btn-lg btn-primary">
                  Predict
                </button>
              </a>
            </div>
          </div>
          <div class="col-md-5 pd-7">
            <img class="imgSymp" src="{% static 'img/exd.jpg' %}" alt="Exercising Food">
          </div>
        </div>
      </section>
    </div>
{% endblock %}