{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div id="liver"></div>
    <div id="nav"></div>
    <div class="maincontent container-fluid">
      <section>
        <div class="row mb-4">
          <div class="col-md-5 ps-1">
            <img class="img1" src="{% static 'img/liver.jpg' %}" alt="liver" />
          </div>
          <div class="col-md-7">
            <h1 class="liv display-3 text-center">Liver Disease</h1>
            <p class="descLiv">
              Your liver does a lot of things that keep you healthy. It turns nutrients 
              into chemicals your body needs. It filters out poisons. It helps turn food 
              into energy. So when your liver doesn’t work well, that can affect your whole 
              body. Different things can cause serious liver conditions. You’ll want to 
              know about the top causes. <b>Alcohol-Related Liver Disease</b> is caused 
              by damage to the liver from years of excessive drinking. Years of alcohol 
              abuse can cause the liver to become inflamed and swollen. This damage can 
              also cause scarring known as cirrhosis. Cirrhosis is the final stage of 
              liver disease.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="liv display-4 text-center">Symptoms of Liver Disease</h1>
            <p class="descLiv">
              The symptoms of Liver disease include: <br><br>
              <div class="row">
                  <div class="col-md-6">
                    <ul class="descLiv">
                        <li>Nausea</li>
                        <li>Jaundice</li>
                        <li>Fatigue</li>
                        <li>Abdominal Discomfort</li>
                        <li>Increased thirst</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="descLiv">
                          <li>Drastic skin colour change</li>
                          <li>Fainting</li>
                          <li>Unusual agitation</li>
                          <li>Mood swings</li>
                          <li>Bleeding gums</li>
                      </ul>
                  </div>
              </div>
              <p class="descLiv">
              Do you feel like you are having more than three or four symptoms?
              Go to our online tool to predict whether there is a chance of you having
              the liver disease.
              </p>
            </p>
            <br>
            <div class="d-flex justify-content-center">
              <a
                class="but text-center"
                href="{% url 'liver_predict' %}"
              >
                <button class="btn btn-liv text-center btn-lg btn-primary">
                  Predict
                </button>
              </a>
            </div>
          </div>
          <div class="col-md-5">
            <img class="imgSymp" src="{% static 'img/liv_symptoms.jpg' %}" alt="Symptoms of Liver Disease">
          </div>
        </div>
      </section>
    </div>
{% endblock %}