{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div id="liver"></div>
    <div id="nav"></div>
    <div class="maincontent container-fluid">
      <section>
        <div class="row mt-4 ml-3">
          <div class="col-md-5 ">
            <img class="gifLiv" src="{% static 'img/LiverDosDonts.gif' %}" alt="liver" />
          </div>
          <div class="col-md-7 mb-2">
            <h1 class="liv display-4 text-center">Diet plan for Liver Disease</h1>
            <p class="descLiv">
                <div class="row pt-2">
                    <div class="col-md-6">
                        <h5 class="descLiv"><b>Food to eat:</b> </h5>
                      <ul class="descLiv">
                          <li>Fruits and Vegetables</li>
                          <li>Daily cup of coffee</li>
                          <li>Oatmeal or other high fiber foods</li>
                          <li>Green leafy vegetales and beans</li>
                          <li>Nuts, beans, and legumes</li>
                          <li>Fish</li>
                          <li>Turmeric, sunflower seeds as antioxidants</li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                        <h5 class="descLiv"><b>Food to avoid:</b> </h5>
                        <ul class="descLiv">
                            <li>Fatty Food</li>
                            <li>Food with excess starch</li>
                            <li>Sugary Foods </li>
                            <li>Excess Salts</li>
                            <li>Alcohol</li>
                        </ul>
                    </div>
                </div>
                <h5 class="descLiv" ><b>For more information visit the following websites:</b></h5>
                <ul class="descLiv">
                    <li> <a href="https://www.healthline.com/health/fatty-liver-diet">Healthline</a></li>
                    <li><a href="https://www.medicalnewstoday.com/articles/320082#foods-to-eat">MedicalNewsToday</a></li>
                    <li><a href="https://liverfoundation.org/for-patients/about-the-liver/health-wellness/nutrition/">LiverFoundation</a></li>
            </ul>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-7">
            <h1 class="liv display-4 text-center">Exercise to follow</h1>
            <p class="descLiv">
              Be fit to fight: <br>
              <div class="row">
                  <div class="col-md-6">
                    <ul class="descLiv">
                        <li>Dancing</li>
                        <li>Playing tennis</li>
                        <li>Cycling</li>
                        <li>Hiking</li>
                        <li>Jogging </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="descLiv">
                          <li>Brisk walking</li>
                          <li>Using free weights</li>
                          <li>Using weighting machine</li>
                          <li>Using medicine ball</li>
                          <li>Running</li>
                      </ul>
                  </div>
              </div>
              <p class="descLiv">
                Follow the exercises & enjoy the results :)
              </p>
            </p>
            <br>
            <div class="d-flex justify-content-center">
              <a
                class="but text-center"
                href="{% url 'heart_predict' %}"
              >
                <button class="btnPredictLiver btn-liv text-center btn-lg btn-primary">
                  Predict
                </button>
              </a>
            </div>
          </div>
          <div class="col-md-5 pd-7">
            <img class="imgSymp" src="{% static 'img/exl.jpg' %}" alt="Exercising Food">
          </div>
        </div>
      </section>
    </div>
{% endblock %}