{% extends 'main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% csrf_token %}
<div class="container">
    <h1 class="text-center">Predict your Chance of Having a Liver Disease</h1><br>
    <h6 class="text-center mb-3">Enter the appropriate values of symptoms you face. Get the chances of you contracting liver
        disease based on those values.
      </h6>
      <br>
        {% csrf_token %}
  <form class="container" action="" method="POST">
    <div class="row mb-3">
        <label for="age" class="livLabel col-sm-3 col-form-label">Age: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="age" name="age" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="gender" class="livLabel col-sm-3 col-form-label">Gender (1 for male 0 for female): &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="gender" name="gender" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="tot_bil" class="livLabel col-sm-3 col-form-label">Total Bilirubin: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="tot_bil" name="tot_bil" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="dir_bil" class="livLabel col-sm-3 col-form-label">Direct Bilirubin: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="dir_bil" name="dir_bil" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="alk_phos" class="livLabel col-sm-3 col-form-label">Alkaline phosphatase: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="alk_phos" name="alk_phos" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="sgpt" class="livLabel col-sm-3 col-form-label">SGPT: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="sgpt" name="sgpt" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="sgot" class="livLabel col-sm-3 col-form-label">SGOT: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="sgot" name="sgot" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="tot_prot" class="livLabel col-sm-3 col-form-label">Total Proteins: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="tot_prot" name="tot_prot" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="albumin" class="livLabel col-sm-3 col-form-label">Albumin: &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="albumin" name="albumin" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="alb_glob_ratio" class="livLabel col-sm-3 col-form-label">Albumin to Globulin Ratio (Decimal): &nbsp;</label>
      <div class="col-sm-4">
        <input class="form-control" type="number" id="alb_glob_ratio" name="alb_glob_ratio" />
      </div>
    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btnPredictLiver btn-lg btn-primary">Predict</button>
        </div>
    </div>
</form>
</div>
{% endblock %}
