{% extends 'main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<div class="container-fluid main-container contact">
  <div class="row">
    <div class="container align-items-center">
      <div class="card contactForm">
        <div class="card-body">
          <form id="myContactForm" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="fullName"
                placeholder="Enter your full name"
                name="fullName"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" required>Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
                placeholder="name@example.com"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="contact" class="form-label">Contact Number</label>
              <input
                type="phone"
                class="form-control"
                id="contact"
                name="phone"
                placeholder="Enter your contact number"
                required
              />
            </div>
            <div class="mb-3">
              <label for="suggest" class="form-label">Queries or Suggestions</label>
              <textarea
                name="suggest"
                id="suggest"
                class="form-control"
                cols="30"
                rows="4"
                placeholder="Anything to ask or say? Write about it here."
                required
              ></textarea>
            </div>
            <div class="btn-contact">
              <button type="submit" id="btn-submit" class="btn btn-lg btn-primary">Submit</button>
              <button class="btn btn-res btn-lg btn-warning" type="reset">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="{% static 'js/index.js' %}"></script> -->

{% endblock %}
