@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Ubuntu&display=swap');
.liverForm {
    max-width: 700px;
}

.livLabel {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 17px;
}

.img1 {
    width: 95%;
    height: auto;
}

.imgHeart {
    width: 70%;
    height: auto;
}

.imgDiabetes {
    width: 80%;
    height: auto;
}
.imgSymp {
    width: 95%;
    height: auto;
}

.btnPredictLiver {
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.liv {
    font-family: 'Ubuntu', sans-serif;
}

.descLiv {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}